.App {
  text-align: center;
}

.btn{
  background-color: blueviolet;
  color: white;
  padding: 0.5rem 1.5rem;
  margin: 0.2rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
}
.counterH1{
  font-size: 1.5rem;
  color: rgb(99, 99, 99);
}

.counter{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}

.counterDiv { 
  border: 0.1rem rgb(193, 185, 185) solid;
  border-radius: 0.5rem;
  width: 40rem;
  padding: 2rem;
}
